@forward "./css-style/first-section-style.scss";
@forward "./css-style/reset.scss";
@forward "./css-style/second-section-style.scss";
@forward "./css-style/third-section-style.scss";
@forward "./css-style/section-four-style.scss";
@forward "./css-style/section-five.scss";
@forward "./css-style/six-section.scss";
@forward "./css-style/section-seven.scss";
@forward "./css-style/section-eight.scss";
@forward "./css-style/section-nine.scss";
@forward "./css-style/sticky-menu-by-js.scss";
@forward "./css-style/navbar-scrrol-down-auto-hide-css-code.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}











