.main-1 {
  width: 100%;
  height: 850px;
  background-image: url("../imges/bg-1.png");
  background-repeat: no-repeat;
  background-position: 100% 94%;
  overflow: hidden;
  background-size: cover cover;
  box-sizing: border-box;
}

.nav-link {
  color: white !important;
  background-color: #910115;
  border-radius: 5px;
}

.nav-link {
  position: relative;
}

.nav-item:hover .nav-link {
  border-radius: 5px;
  background-color: #910115;
  transition: 0.5s;
  transform: scale(1);
}

.nav-item {
  padding: 5px;
}

.first-page-text {
  padding-top: 201px;
}

.first-page-text h1 {
  font-size: 50px;
}

.qq {
  width: 90px;
}

.firstbtn {
  margin-top: 20px;
}

.btn-size {
  background-color: #8c9e00 !important;
  padding: 4px 60px !important;
  font-size: 30px !important;
  color: white !important;
  transition: 0.5s !important;
}

.btn-size:hover {
  background-color: blue !important;
}

/* 
.my-button {
    padding: 20px 90px;
    background-color: #8c9e00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    transition: 0.5s;
}

.my-button:hover {
    background-color: #0056b3;
}

*/
@media only screen and (min-width: 1439px) {
  .main-1 {
    background-position: 100% 100%;
    background-size: cover;
    height: 860px;
    background-position: 100% 94%;
  }
}
@media only screen and (max-width: 600px) {
  .main-1 {
    height: 750px;
  }
}
@media only screen and (max-width: 280px) {
  .firstbtn {
    width: 270px;
    margin-top: 88px;
    margin-left: -5px;
  }
  .first-page-text h1 {
    font-size: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-2 {
  width: 100%;
  height: 680px;
  background-color: #efbd63;
}

.font-size {
  font-weight: bolder;
  font-size: 40px;
}

.img-sec img {
  width: 300px;
}

.row-size-1 {
  width: 1000px !important;
  margin: auto !important;
}

.text-clr {
  color: #0e0a17 !important;
}

.btn-class {
  display: inline-block;
  padding: 6px 47px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-class:hover {
  background-color: #45a049;
}

.btn-class:active {
  background-color: #3e8e41;
}

.sec-btn {
  text-align: center;
  padding-top: 26px;
}

.img-sec {
  background-color: #efbd63 !important;
  border: none !important;
}

@media only screen and (max-width: 768px) {
  .main-2 {
    height: auto;
  }
}
@media only screen and (max-width: 279px) {
  .btn-class {
    padding: 5px;
    margin-bottom: 10px;
  }
}
.main-3 {
  width: 100%;
  height: 420px;
  background-image: url(../imges/imageee.png);
  background-repeat: no-repeat;
  background-position: -37px -68px;
  overflow: hidden !important;
  box-sizing: border-box !important;
  position: relative;
  z-index: 999 !important;
}

@media only screen and (min-width: 768px) {
  .font-div-postion {
    padding-top: 55px;
  }
  .fnt-size {
    font-size: 22px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 768px) {
  .main-3 {
    height: 1000px;
  }
  .fnt-size {
    font-size: 12px;
  }
}
.sec-4 {
  background-image: url(../imges/3654606-Recovered-Recovered-Recovered.png);
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  background-position: -37px -173px;
}

#carouselExample {
  text-align: center;
}

.img-size2 {
  width: 350px !important;
  height: 400px !important;
}

/* */
.owl-carousel .item {
  text-align: center;
  padding: 20px;
}

.owl-carousel .item img {
  max-width: 100%;
  height: auto;
}

.owl-nav {
  font-size: 50px;
}

.owl-next {
  color: rgb(226, 212, 212) !important;
  background-color: transparent !important;
  position: absolute;
  bottom: 195px;
  left: 1157px;
}

.owl-prev {
  position: absolute;
  top: 160px;
  left: 45px;
  color: rgb(226, 212, 212) !important;
  background-color: transparent !important;
}

.owl-align {
  margin-left: 38px;
}

@media only screen and (width: 360px) {
  .sec-4 {
    position: absolute;
    top: 2350px !important;
  }
}
@media only screen and (min-width: 374px) and (max-width: 400px) {
  .sec-4 {
    position: absolute;
    top: 2250px !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 434px) {
  .sec-4 {
    position: absolute;
    top: 2250px !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 554px) {
  .sec-4 {
    position: absolute;
    top: 1880px;
  }
}
@media only screen and (min-width: 554px) and (max-width: 576px) {
  .sec-4 {
    position: absolute;
    top: 1800px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 600px) {
  .sec-4 {
    position: absolute;
    top: 1885px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 681px) {
  .sec-4 {
    position: absolute;
    top: 1986px !important;
  }
}
@media only screen and (min-width: 769px) {
  .sec-4 {
    position: absolute;
    top: 1932px !important;
  }
}
@media only screen and (min-width: 682px) and (max-width: 768px) {
  .sec-4 {
    position: absolute;
    top: 1987px !important;
  }
}
.sec-5 {
  width: 100%;
  height: 570px;
  margin-top: 350px;
  background-color: #efbd63;
  box-sizing: border-box;
  overflow: hidden;
}

.btn-class-2 {
  padding: 6px 26px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #910115;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-class-2:hover {
  background-color: #c95b3f;
}

.sed {
  margin-top: 150px;
  color: #910115;
}

.sed-2 {
  font-size: 22px;
  color: #0e0a17;
  font-weight: 400;
}

.burgur-eat-img img {
  width: 350px;
}

.burgur-eat-img {
  text-align: center;
}

@media only screen and (width: 360px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
  .burgur-eat-img {
    margin-top: 50px;
  }
}
@media only screen and (width: 375px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
}
@media only screen and (width: 384px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
}
@media only screen and (width: 390px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
}
@media only screen and (width: 412px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
}
@media only screen and (width: 414px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
}
@media only screen and (width: 428px) {
  .sec-5 {
    margin-top: -305px !important;
    height: auto;
  }
}
@media only screen and (width: 800px) {
  .sec-5 {
    height: auto;
  }
}
@media only screen and (width: 810px) {
  .sec-5 {
    height: auto;
  }
}
.sec-6 {
  background-color: #910115;
  width: 100%;
  height: 650px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.circle-img img {
  width: 740px;
}

.t-size {
  margin-top: 50px;
  font-size: 25px;
}

.t-size-2 {
  font-size: 25px;
  margin-top: 150px;
}

.t-size-3 {
  font-size: 25px;
  margin-top: 118px;
}

svg:hover {
  transform: rotate(360deg);
  color: white;
  transition: transform 0.3s;
}

@media only screen and (width: 800px) {
  .sec-6 {
    height: 1650px;
  }
}
@media only screen and (width: 428px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .sec-6 {
    height: 1070px !important;
  }
  .eem {
    margin-left: 180px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 180px;
  }
  .eem4 {
    margin-left: 180px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
  }
  .eem6 {
    margin-left: 180px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
@media only screen and (width: 412px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .eem {
    margin-left: 180px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 180px;
  }
  .eem4 {
    margin-left: 180px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
  }
  .eem6 {
    margin-left: 180px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
@media only screen and (width: 414px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .eem {
    margin-left: 180px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 180px;
  }
  .eem4 {
    margin-left: 180px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
  }
  .eem6 {
    margin-left: 180px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
@media only screen and (width: 390px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem {
    margin-left: 160px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 160px;
  }
  .eem4 {
    margin-left: 160px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
  }
  .eem6 {
    margin-left: 160px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
@media only screen and (width: 384px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem {
    margin-left: 160px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 160px;
  }
  .eem4 {
    margin-left: 160px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
  }
  .eem6 {
    margin-left: 160px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
@media only screen and (width: 375px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem {
    margin-left: 160px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 160px;
  }
  .eem4 {
    margin-left: 160px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
  }
  .eem6 {
    margin-left: 160px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
@media only screen and (width: 360px) {
  .t-size {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem {
    margin-left: 160px;
  }
  .t-size-2 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
  }
  .eem2 {
    margin-left: 160px;
  }
  .eem4 {
    margin-left: 160px;
  }
  .t-size-3 {
    width: 300px;
    font-size: 20px;
    margin-left: 35px;
  }
  .eem6 {
    margin-left: 160px;
  }
  .t-size9 {
    margin-top: -35px;
  }
  .txt-sz {
    margin-top: 35px;
  }
  .sec-6 {
    height: 1020px;
  }
}
.sec-7 {
  width: 100%;
  height: 400px;
  background-image: url(../imges/365dddd4606.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  transform: translate(0px, -7px);
}

@media only screen and (width: 428px) {
  .sec-7 {
    height: 450px !important;
  }
}
@media only screen and (width: 414px) {
  .sec-7 {
    height: 450px !important;
  }
}
@media only screen and (width: 412px) {
  .sec-7 {
    height: 450px;
  }
}
@media only screen and (width: 390px) {
  .sec-7 {
    height: 450px !important;
  }
}
@media only screen and (width: 384px) {
  .sec-7 {
    height: 450px !important;
  }
}
@media only screen and (width: 375px) {
  .sec-7 {
    height: 450px !important;
  }
}
@media only screen and (width: 360px) {
  .sec-7 {
    height: 450px !important;
  }
}
.sec-8 {
  width: 100%;
  height: 304px !important;
  transform: translate(0px, -20px);
}

.ppp {
  width: 100%;
  height: auto !important;
  background-color: #0e0a17;
  overflow: hidden;
  transform: translate(0px, -24px);
}

.form-position {
  margin-top: 100px;
}

.row-position-3 {
  margin-top: 60px !important;
}

.row-position-4 {
  margin-left: 50px !important;
}

.p-size-3 {
  font-size: 22px;
  transform: translate(6px, -5px);
}

.col-position-4 {
  margin-top: 55px !important;
}

.col-position-4 h2 {
  color: white;
}

@media only screen and (width: 428px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
@media only screen and (width: 414px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
@media only screen and (width: 412px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
@media only screen and (width: 390px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
@media only screen and (width: 384px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
@media only screen and (width: 375px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
@media only screen and (width: 360px) {
  .col-position-4 h2 {
    font-size: 20px !important;
  }
  .row-position-3 {
    margin-left: 20px !important;
    width: 100px !important;
  }
  .qqq {
    margin-left: 40px;
  }
}
.menu-of-sticky.sticky {
  top: 0px;
  left: 0;
  overflow: hidden !important;
  position: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 9999999999 !important;
  width: 100% !important;
  height: 60px;
  background-color: black;
  transition: 1s;
  opacity: 0.8;
}
.menu-of-sticky.sticky .qq {
  width: 60px;
  margin-left: 95px;
}
.menu-of-sticky.sticky .sticky-menu-thing {
  margin-right: 88px;
}
.menu-of-sticky.sticky .nav-link {
  color: white !important;
  background-color: #910115;
  border-radius: 5px;
}
.menu-of-sticky.sticky .nav-link {
  position: relative;
}
.menu-of-sticky.sticky .nav-item:not(:last-child) .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  height: 25px;
  width: 1px;
  background-color: rgb(145, 133, 133);
}
.menu-of-sticky.sticky .nav-item:hover .nav-link {
  border-radius: 5px;
  background-color: #e70624;
  transition: 0.5s;
  transform: scale(1);
  font-weight: bolder;
}
.menu-of-sticky.sticky .nav-item {
  padding: 5px;
}

.navbar {
  position: sticky;
  top: 0;
  transition: top 0.8s ease-in-out;
  z-index: 1000;
}

.navbar.hidden {
  top: -100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}/*# sourceMappingURL=index.css.map */