.sec-7 {
    width: 100%;
    height: 400px;
    background-image: url(../imges/365dddd4606.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
    transform: translate(0px, -7px);
}



@media only screen and (width: 428px) {
    .sec-7 {
        height: 450px !important;
    }

}

@media only screen and (width: 414px) {
    .sec-7 {
        height: 450px !important;
    }

}

@media only screen and ( width: 412px ) {
    .sec-7 {
        height: 450px;
    }
    
}

@media only screen and (width: 390px) {
    .sec-7 {
        height: 450px !important;
    }

}


@media only screen and (width: 384px) {
    .sec-7 {
        height: 450px !important;
    }

}

@media only screen and (width: 375px) {
    .sec-7 {
        height: 450px !important;
    }

}

@media only screen and (width: 360px) {
    .sec-7 {
        height: 450px !important;
    }

}