.sec-6 {
    background-color: #910115;
    width: 100%;
    height: 650px;
    text-align: center;
    margin: auto;
    overflow: hidden;
}



.circle-img img {
    width: 740px;


}

.t-size {
    margin-top: 50px;
    font-size: 25px;
}

.t-size-2 {
    font-size: 25px;
    margin-top: 150px;
}

.t-size-3 {
    font-size: 25px;
    margin-top: 118px;
}

svg:hover {
    transform: rotate(360deg);
    color: white;
    transition: transform 0.3s;
}


@media only screen and (width: 800px) {
    .sec-6 {
        height: 1650px;
    }
}



@media only screen and (width: 428px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 50px;


    }

    .sec-6 {
        height: 1070px !important;
    }

    .eem {
        margin-left: 180px;
    }

    .t-size-2 {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .eem2 {
        margin-left: 180px;
    }

    .eem4 {
        margin-left: 180px;
    }

    .t-size-3 {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
    }

    .eem6 {
        margin-left: 180px;
    }

    .t-size9 {
        margin-top: -35px;
    }

    .txt-sz {
        margin-top: 35px;
    }

    .sec-6 {
        height: 1020px;
    }
}


@media only screen and (width: 412px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 50px;
        
        
    }
    .eem {
        margin-left: 180px;
    }

        .t-size-2 {
            width: 300px;
            font-size: 20px;
            margin-left: 50px;
            margin-top: 50px;
        }
        .eem2 {
            margin-left: 180px;
        }
        .eem4 {
            margin-left: 180px;
        }
        .t-size-3 {
            width: 300px;
            font-size: 20px;
            margin-left: 50px;
        }

        .eem6 {
            margin-left: 180px;
        }
        .t-size9 {
            margin-top: -35px;
        }
        .txt-sz {
            margin-top: 35px;
        }
                .sec-6 {
                    height: 1020px;
                }
}

@media only screen and (width: 414px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 50px;


    }

    .eem {
        margin-left: 180px;
    }

    .t-size-2 {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .eem2 {
        margin-left: 180px;
    }

    .eem4 {
        margin-left: 180px;
    }

    .t-size-3 {
        width: 300px;
        font-size: 20px;
        margin-left: 50px;
    }

    .eem6 {
        margin-left: 180px;
    }

    .t-size9 {
        margin-top: -35px;
    }

    .txt-sz {
        margin-top: 35px;
    }

    .sec-6 {
        height: 1020px;
    }
}


@media only screen and (width: 390px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;


    }

    .eem {
        margin-left: 160px;
    }

    .t-size-2 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;
    }

    .eem2 {
        margin-left: 160px;
    }

    .eem4 {
        margin-left: 160px;
    }

    .t-size-3 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
    }

    .eem6 {
        margin-left: 160px;
    }

    .t-size9 {
        margin-top: -35px;
    }

    .txt-sz {
        margin-top: 35px;
    }

    .sec-6 {
        height: 1020px;
    }
}


@media only screen and (width: 384px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;


    }

    .eem {
        margin-left: 160px;
    }

    .t-size-2 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;
    }

    .eem2 {
        margin-left: 160px;
    }

    .eem4 {
        margin-left: 160px;
    }

    .t-size-3 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
    }

    .eem6 {
        margin-left: 160px;
    }

    .t-size9 {
        margin-top: -35px;
    }

    .txt-sz {
        margin-top: 35px;
    }

    .sec-6 {
        height: 1020px;
    }
}


@media only screen and (width: 375px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;


    }

    .eem {
        margin-left: 160px;
    }

    .t-size-2 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;
    }

    .eem2 {
        margin-left: 160px;
    }

    .eem4 {
        margin-left: 160px;
    }

    .t-size-3 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
    }

    .eem6 {
        margin-left: 160px;
    }

    .t-size9 {
        margin-top: -35px;
    }

    .txt-sz {
        margin-top: 35px;
    }

    .sec-6 {
        height: 1020px;
    }
}


@media only screen and (width: 360px) {
    .t-size {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;


    }

    .eem {
        margin-left: 160px;
    }

    .t-size-2 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;
    }

    .eem2 {
        margin-left: 160px;
    }

    .eem4 {
        margin-left: 160px;
    }

    .t-size-3 {
        width: 300px;
        font-size: 20px;
        margin-left: 35px;
    }

    .eem6 {
        margin-left: 160px;
    }

    .t-size9 {
        margin-top: -35px;
    }

    .txt-sz {
        margin-top: 35px;
    }

    .sec-6 {
        height: 1020px;
    }
}

