.menu-of-sticky.sticky {
  
    top: 0px;

    left: 0;
    overflow: hidden !important;
    
    position: fixed;
   
    overflow: hidden;
    scroll-behavior: smooth;
    z-index: 9999999999 !important;
    width: 100% !important ;
    height: 60px;
    
    
    background-color: black;
    
    transition: 1s;
    opacity: 0.8;
    
    .qq {
            width: 60px;
            margin-left: 95px;
        }

        .sticky-menu-thing {
            margin-right: 88px;
        }
.nav-link {
    color: white !important;
    background-color: #910115;
    border-radius: 5px;



}

.nav-link {
    position: relative;
}


.nav-item:not(:last-child) .nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 25px;
    width: 1px;
    background-color: rgb(145, 133, 133);

}

.nav-item:hover .nav-link {
    border-radius: 5px;
    background-color: #e70624;
    transition: 0.5s;
    transform: scale(1);
    font-weight: bolder;
}

.nav-item {
    padding: 5px;
}
        


    
}
